@page
@model FinalProject.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="row align-items-center">
    <div class="col-sm-5 text-center p-4">
        <p class="lead m-0">Shipping</p>
        <h1>@Html.DisplayFor(model => model.Product.ProductName)</h1>
        <p class="text-start px-xl-5 py-1 py-md-2 w-75 m-auto mb-1">
            @Html.DisplayFor(model => model.Product.Description)
        </p>
        <dl>
            <dt>Less-Than-Truckload</dt>
                @if (Model.Product.LTL == true)
                {
                    <dt>✅</dt>
                }
                else
                {
                    <dt>❌</dt>
                }           
        </dl>
        <a type="button" class="btn btn-primary mb-1" asp-page="/Index">Add to cart</a>
        <a type="button" class="btn btn-success mb-1" asp-page="/Index">Continue Shopping</a>
    </div>
    <div class="col-sm-7">
        <img class="img-fluid" src="~/images/@Model.Product.ImageName" alt="No Image available for this product"/>
    </div>
</div>



<div>
    <hr />
    <form method="post">
        <div class="row">
            <div class="col">
                @* Hidden fields to pass to the cart *@
                <input type="hidden" asp-for="Product.ID" readonly/>
                <input type="hidden" asp-for="Product.ProductName" readonly/>
                <input type="hidden" asp-for="Product.ImageName" readonly/>
            </div>
        </div>
    </form>
</div>
<br />
