html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Pointer cursor when hover over .card*/

.card {
  cursor: pointer;
}

/* Remove styling for clickable anchor within .card*/

.card a {
  text-decoration: none;
  color: inherit;
}