html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Pointer cursor when hover over .card*/

.card {
  cursor: pointer;
}

/* Remove styling for clickable anchor within .card*/

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;

}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: scale(1.02);
    transition: all 0.2s ease;
}

select[readonly] {
    pointer-events: none;
}