@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Go to <a asp-page="Login">Login</a></p>

    <p>Go to <a asp-page="/Index">Home page</a></p>
</div>
